/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-background: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);
  --color-text-dark: var(--color-dark);
  --color-outline: var(--color-heavy-gray);
  --color-backgroud-highlight: var(--color-light-gray);
  --color-board-background: var(--color-light-white);
  --height-header: 50px;
  --width-nav: 232px;
  --width-content: 1200px;

  /* Colors */
  --color-white: #c4c4c4;
  --color-black: #1f2937;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #e6e6e6;
  --color-dark: #0e1d33;
  --color-light-gray: rgb(225, 225, 225);
  --color-heavy-gray: rgb(208, 208, 208);
  --color-light-white: white;
  /* Size */
  --size-max-width: 1200px;
  --size-min-width: 1150px;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
a {
  color: inherit; /* 링크의 색상을 부모 요소의 색상으로 상속받게 함 */
  text-decoration: none; /* 밑줄 제거 */
}

/* :hover, :active 상태에서도 밑줄이 생기지 않도록 함 */
a:hover,
a:active {
  text-decoration: none;
}
/* MediaQuery */
/* @media screen and (max-width: 480px) {
  .content-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
} */

/* Header */
.header {
  position: fixed;
  width: calc(100% - 232px); /* header의 기본 너비 설정  */
  height: var(--height-header);
  padding: 12px 16px 12px 8px;
  top: 0;
  left: var(--width-nav); /* nav 바의 기본 너비에 맞추어 설정 */
  right: 0;
  background-color: #1f2937;
  transition: all 0.3s ease; /* header에 부드러운 전환 효과 추가 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-collapsed {
  left: 0;
}
.header-expanded {
  width: calc(100% - 50px);
  left: var(--height-header);
}

.header__search {
  margin-left: 0.5rem;
}
.search-input {
  width: 10rem; /* 기본 너비 설정 */
  height: 30px;
  padding: 2px 5px; /* 상하, 좌우 패딩 설정 */
  border: 1px solid #666; /* 테두리 설정 */
  background-color: #333; /* 배경색 설정 */
  color: white; /* 텍스트 색상 설정 */
  transition: all 0.3s ease-in-out; /* 전환 효과 설정 */
  border-radius: 9999px; /* 둥근 테두리 설정 */
}

.search-input:focus {
  width: 480px; /* 포커스 시 너비 변경 */
  border-color: #0f0; /* 포커스 시 테두리 색상 변경 */
  padding-left: 10px; /* 포커스 시 좌측 패딩 변경 */
  outline: none; /* 포커스 시 아웃라인 제거 */
}

/* Header-StockSlider */

.stock-slider {
  width: 270px;
  height: 45px; /* 원하는 대로 높이 조절 */
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  background: var(--color-primary);
}

.stock-item {
  position: absolute;
  width: 100%;
  bottom: -100%; /* 시작 위치를 화면 아래로 설정 */
  left: 0;
  background: var(--color-primary);
  padding-bottom: 0.7rem;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  /* outline: 1px solid white; */
  /* border-radius: 50%; */
  transition: bottom 0.5s ease-in-out; /* 부드러운 움직임을 위한 트랜지션 설정 */
  font-size: 1.2rem;
  text-align: right;
}

.header__user {
  color: #c4c4c4;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: right; /* 혹은 필요에 따라 다른 정렬 옵션 사용 */
  gap: 1rem;
  /* flex-wrap: wrap; 요소들이 필요에 따라 줄바꿈되도록 함 */
}

.header__user__notification i {
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.header__user__notification i:hover {
  background-color: rgba(3, 232, 249, 0.3); /* 호버 시 배경색을 흐리게 변경 */
  color: var(--color-light-gray);
}

.header__user__profileimage {
  width: 36px;
  height: 36px;
  border-radius: 50%; /* 원형 이미지를 만듦 */
  object-fit: cover; /* 이미지가 비율을 유지하면서 요소에 맞춰지도록 함 */
}
.header__user__name {
  /* height: 36px; */
  /* width: 5rem; */
  outline: 1px solid var(--color-light-gray);
  padding: 0.3rem;
  border-radius: 0.5rem;
  white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 함 */
  overflow: visible; /* 텍스트가 넘치더라도 숨기지 않음 */
  text-overflow: clip; /* 텍스트가 넘치면 잘림 */
}

/* ===== Nav ===== */
.nav--toggle {
  all: unset;
  cursor: pointer;
  position: absolute; /* 절대 위치 설정으로 항상 같은 위치에 놓임 */
  top: 5px; /* 상단에 고정 */
  right: 8px; /* 오른쪽에 고정 */
  padding: 10px; /* 버튼의 패딩 */
  display: block; /* 항상 보이도록 설정 */
  z-index: 100; /* 다른 요소 위에 오도록 z-index 설정 */
  transition: all 0.3s;
  border-radius: 0.5rem;
}
.nav--toggle:hover {
  background-color: rgba(3, 232, 249, 0.3); /* 호버 시 배경색을 흐리게 변경 */
  color: var(--color-light-gray);
}
.nav {
  position: fixed;
  top: 0;
  width: var(--width-nav);
  height: 100vh;
  background-color: #1f2937;
  padding-top: 0.5rem;
  color: #c4c4c4;
  min-width: 50px; /* 최소 너비 설정 */
  overflow: hidden; /* 내용이 너비를 벗어날 경우 숨김 처리 */
  transition: width 0.3s; /* 너비 변경에 애니메이션 효과 적용 */
}

.nav-collapsed {
  width: 50px;
}
.nav--toggle .fa-angles-left {
  display: inline; /* 초기 상태에서 왼쪽 화살표를 보여주어야 합니다. */
}

.nav--toggle .fa-angles-right {
  display: none; /* 초기 상태에서 오른쪽 화살표는 숨깁니다. */
}

.nav-collapsed .fa-angles-right,
.nav-expanded .fa-angles-left {
  display: inline; /* 확장 및 축소 상태에 따라 아이콘을 표시합니다. */
}

.nav-expanded .fa-angles-right {
  display: none; /* 확장 상태에서 숨김 */
}

.nav-collapsed .nav__section,
.nav-collapsed .nav__logo__container p,
.nav-collapsed .nav__section__title,
.nav-collapsed .nav__section__content p {
  display: none; /* 내용을 숨김 */
}

.nav__logo {
  width: 100%;
  height: 2rem;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo__container {
  width: 232px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  color: #eeeff0;
}
.nav__logo__img {
  width: 24px;
  height: 24px;
}
.nav__section {
  border-top: 1px solid #7c7e80;
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.nav__section__title {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.nav__section__content {
  display: flex;
  gap: 0.5rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.nav__section__content:hover {
  background-color: rgba(3, 232, 249, 0.3); /* 호버 시 배경색을 흐리게 변경 */
  color: var(--color-light-gray);
}
.nav__section__content i {
  width: 1.3rem;
  height: 1rem;
  text-align: center;
}
.nav__section__user {
  font-size: 0.9rem;
}

/* content-wrapper */
.content-wrapper {
  padding-top: var(--height-header);
  padding-right: 12rem;
  padding-left: 12rem;
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* justify-content: center; */
}
.content-wrapper--expanded {
  margin-left: var(--width-nav); /* nav 바의 기본 너비에 맞춘 여백 */
  transition: margin-left 0.3s; /* 부드러운 전환 효과 */
}

.content-wrapper--collapsed {
  margin-left: var(--height-header); /* 축소된 nav 바의 너비에 맞춘 여백 */
  transition: margin-left 0.3s; /* 부드러운 전환 효과 */
}

/* ===== Arrow up =====*/
aside a {
  display: flex;
  align-items: center;
}
aside a i {
  width: 100%;
}
.arrow-up {
  background-color: var(--color-primary);
  color: white;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 1.6rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 2px 2px 0px 0px var(--color-accent);
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease;
}
.arrow-up--visible {
  opacity: 1;
  visibility: visible;
}

/* ===== Board ===== */
.board {
  width: 100%;
  /* background-color: green; */
  position: relative;
}
.board__category {
  position: absolute;
  left: -182px;
  width: 172px;
  height: 250px;
  background-color: var(--color-board-background);
  border-radius: 0.3rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  outline: 1px solid var(--color-outline);
}
.board__category__button {
  width: 100%;
  text-align: center;
  /* padding-left: 2rem; */
  font-size: 1.7rem;
  padding: 12px;
}
.active-category {
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 0.5rem;
  width: 90%;
}
.board__list {
  width: 100%;
  height: 90%;
  margin-top: 4rem;
  padding: 3rem;
  background-color: var(--color-board-background);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  outline: 1px solid var(--color-outline);
  border-radius: 0.3rem;
}
.board__list__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem 2rem 1rem;
  border-bottom: 1px solid var(--color-outline);
  margin-bottom: 1rem;
}
.board__list__menu__text {
  font-size: 1.5rem;
  font-weight: 900;
}
.board__list__menu__write {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  background-color: var(--color-heavy-gray);
  border: none;
  border-radius: 0;
  outline: 1px solid var(--color-outline);
  font-size: 1.5rem;
}
.board__list__table {
  width: 100%;
  overflow-x: auto;
}

/* board table */

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.3rem;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 1.9rem 1rem 1.9rem 1rem;
}

th {
  background-color: #f2f2f2;
}

tr {
  display: flex;
}
tr th,
tr td {
  text-align: center;
}
tr td:nth-child(1) {
  text-align: left;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

tr:hover {
  background-color: #ddd;
}
th:nth-child(1) {
  flex: 4;
}
th:nth-child(2) {
  flex: 1;
}
th:nth-child(3) {
  flex: 1;
}
th:nth-child(4) {
  flex: 2;
}

td:nth-child(1) {
  flex: 4;
}
td:nth-child(2) {
  flex: 1;
}
td:nth-child(3) {
  flex: 1;
}
td:nth-child(4) {
  flex: 2;
}

.board__list__pagination {
  display: flex;
  justify-content: center;
  padding: 2.7rem;
}

.pagination {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.pagination li button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pagination li button:hover {
  background-color: #f0f0f0;
}

.pagination li button.disabled {
  cursor: default;
  opacity: 0.5;
}

/* search bar */
.board__list__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 16px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.search-bar i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #555;
}

/* ===== Footer ===== */
.footer {
  margin-top: 3rem;
  padding: 1rem;
  background-color: var(--color-background);
  text-align: center;
  font-size: 0.75rem;
  color: #4b5563;
}

.footer-info,
.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer-item a {
  text-decoration: none;
  color: var(--color-text-dar);
}

.footer-item:not(:last-child)::after {
  content: "|";
  margin-left: 0.5rem;
  color: var(--color-text-dark);
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}
