<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Profile Modify</title>
        <link rel="icon" href="/images/BullHubLogo_Circle_favicon.ico" type="image/x-icon" />
        <!-- FontAwesome Kits -->
        <script src="https://kit.fontawesome.com/a6fe98d160.js" crossorigin="anonymous" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/css/userModify.css" />
        <script src="/js/index.js" defer></script>
        <script src="/js/userModify.js" defer></script>
    </head>
    <body>
        <main>
            <!-- Header -->
            <header class="header">
                <div class="header__search">
                    <input
                        class="search-input"
                        type="text"
                        placeholder="종목명, 티커 검색"
                        autocomplete="off"
                        aria-autocomplete="list"
                        aria-controls="search-menu"
                        aria-labelledby="search-label"
                    />
                </div>
                <div class="header__user">
                    <div class="header__user__display">
                        <div id="stock-slider" class="stock-slider">
                            <div class="stock-item">
                                Apple $182.41 &nbsp; <span style="color: #37d767">3.21%</span>
                                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
                            </div>
                            <div class="stock-item">
                                Walt Disney $90.34 &nbsp;
                                <span style="color: #fd2617">0.85%</span>
                                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
                            </div>
                            <div class="stock-item">
                                Intel $37.80 &nbsp; <span style="color: #37d767">1.19%</span>
                                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
                            </div>
                            <div class="stock-item">
                                Microsoft $360.69 &nbsp;
                                <span style="color: #fd2617">0.32%</span>
                                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
                            </div>
                            <div class="stock-item">
                                Cisco $52.00 &nbsp; <span style="color: #fd2617">0.56%</span>
                                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
                            </div>
                            <div class="stock-item">
                                Verizon $35.62 &nbsp; <span style="color: #37d767">1.45%</span>
                                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
                            </div>
                            <div class="stock-item">
                                Chevron $141.94 &nbsp; <span style="color: #37d767">2.17%</span>
                                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
                            </div>
                        </div>
                    </div>
                    <div class="header__user__notification">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    {% if userData.id %}
                    <!-- 로그인 상태일 때 -->
                    <a href="/users" class="header__user__name">{{ userData.nickname }}</a>
                    <div class="header__user__profile">
                        <img
                            src="http://13.209.19.175:4000{{userData.image }}"
                            alt="profile image"
                            class="header__user__profileimage"
                        />
                    </div>
                    {% else %}
                    <!-- 로그인 상태가 아닐 때 -->
                    <a href="/auth/login" class="header__user__name">Login</a>
                    <div class="header__user__profile">
                        <img src="/images/default_profile.png" alt="default image" class="header__user__profileimage" />
                    </div>
                    {% endif %}
                </div>
            </header>
            <div class="content-wrapper content-wrapper--expanded">
                <section class="upper">
                    <form id="modifyForm" enctype="multipart/form-data">
                        <label for="nickname" class="label-large">Nickname:</label>

                        <input
                            type="text"
                            class="nickname input-large"
                            ,
                            id="nickname"
                            name="nickname"
                            value="{{ userData.nickname }}"
                        /><br /><br />

                        <p class="label-large">Username: {{ userData.username }}</p>

                        <label for="image label-large">Profile Image URL:</label>

                        <img
                            id="imagePreview"
                            src="http://13.209.19.175:4000{{ userData.image }}"
                            alt="프로필 이미지 미리보기"
                            style="max-width: 300px"
                        />
                        <input type="text" class="imageInput" name="image" style="display: none" />
                        <input type="text" class="token" value="{{token.token}}" style="display: none" />
                        <input type="file" id="image" accept="image/*" /><br /><br />

                        <button class="button-large" type="submit">저장</button>
                        <button class="button-large" id="deleteButton">회원 탈퇴</button>
                    </form>
                </section>
            </div>

            <!-- Arrow up -->
            <aside>
                <a class="arrow-up arrow-up--visible" href="#" title="back to top">
                    <!-- 만약에 따로 svg에서 스크린 리더기에 정보를 줄 수 없다면,
             위와 같이 a tag 안에 attribute로 title을 준 후, 그 안에 정보를 써줄 수 있다. -->
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </aside>
            <!-- Footer -->
            <footer class="footer">
                <div class="footer-info">
                    <span class="footer-item">불빛 주식회사</span>
                    <span class="footer-item">대표이사: 강수빈</span>
                    <span class="footer-item">개인정보관리책임자: 이선균</span>
                    <span class="footer-item">본사: 경기도 성남시 분당구 판교역로180, 803호</span>

                    <span class="footer-item">연락처: help@boolbit.town</span>
                </div>
                <div class="footer-links">
                    <span class="footer-item">사업자 등록번호: 124-88-02603</span>
                    <span class="footer-item">통신판매업 신고번호: 제 2022-성남분당A-0689호</span>

                    <a href="/policy/service" target="_blank" rel="noreferrer" class="footer-link">이용약관</a>

                    <a href="/policy/privacy" target="_blank" rel="noreferrer" class="footer-link">개인정보처리방침</a>
                </div>
            </footer>
        </main>
        <!-- Navbar -->
        <nav class="nav nav--">
            <div class="nav__logo">
                <div class="nav__logo__container">
                    <a href="/">
                        <img class="nav__logo__img" src="/images/BullHubLogo_Circle.png" alt="BullHubLogo" />
                    </a>
                    <p><a href="/">BullHub</a></p>
                </div>
                <button id="navToggle" class="nav--toggle">
                    <i class="fa-solid fa-angles-left"></i>
                    <i class="fa-solid fa-angles-right"></i>
                </button>
            </div>
            <div class="nav__section">
                <div class="nav__section__title"><p>관리자</p></div>
                <div class="nav__section__content">
                    <i class="fa-regular fa-clipboard"></i>
                    <p><a href="/boardstats">게시물 통계</a></p>
                </div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-users"></i>
                    <p><a href="/admin">회원 정보 통계</a></p>
                </div>
            </div>
            <div class="nav__section">
                <div class="nav__section__title"><p>회원</p></div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-user-gear"></i>
                    <p class="nav__section__user">
                        <a href="/users/{{userData.id}}">회원 정보 수정 & 조회</a>
                    </p>
                    l
                </div>
            </div>
            <div class="nav__section">
                <div class="nav__section__title"><p>게시판</p></div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-bullhorn"></i>
                    <p><a href="/boards/announcement">공지사항</a></p>
                </div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-money-bill-trend-up"></i>
                    <p><a href="/boards/domestic">국내주식</a></p>
                </div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-flag-usa"></i>
                    <p><a href="/boards/foreign">해외주식</a></p>
                </div>
                <div class="nav__section__content">
                    <i class="fa-brands fa-bitcoin"></i>
                    <p><a href="/boards/bitcoin">비트코인</a></p>
                </div>
            </div>
            <div class="nav__section">
                <div class="nav__section__title"><p>채팅</p></div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-circle-question"></i>
                    <p><a href="/help">관리자 1:1 문의</a></p>
                </div>
                <div class="nav__section__content">
                    <i class="fa-solid fa-comments"></i>
                    <p><a href="/chat">회원 소통방</a></p>
                </div>
            </div>
        </nav>
    </body>
</html>
