<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | BullHub</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/images/BullHubLogo_Circle_favicon.ico"
      type="image/x-icon"
    />
    <!-- FontAwesome Kits -->
    <script
      src="https://kit.fontawesome.com/a6fe98d160.js"
      crossorigin="anonymous"
      defer
    ></script>

    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main>
      <!-- Header -->
      <header class="header">
        <div class="header__search">
          <input
            class="search-input"
            type="text"
            placeholder="종목명, 티커 검색"
            autocomplete="off"
            aria-autocomplete="list"
            aria-controls="search-menu"
            aria-labelledby="search-label"
          />
        </div>
        <div class="header__user">
          <div class="header__user__display">
            <div id="stock-slider" class="stock-slider">
              <div class="stock-item">
                Apple $182.41 &nbsp; <span style="color: #37d767">3.21%</span>
                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
              </div>
              <div class="stock-item">
                Walt Disney $90.34 &nbsp;
                <span style="color: #fd2617">0.85%</span>
                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
              </div>
              <div class="stock-item">
                Intel $37.80 &nbsp; <span style="color: #37d767">1.19%</span>
                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
              </div>
              <div class="stock-item">
                Microsoft $360.69 &nbsp;
                <span style="color: #fd2617">0.32%</span>
                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
              </div>
              <div class="stock-item">
                Cisco $52.00 &nbsp; <span style="color: #fd2617">0.56%</span>
                <i class="fa-solid fa-arrow-down" style="color: #fd2617"></i>
              </div>
              <div class="stock-item">
                Verizon $35.62 &nbsp; <span style="color: #37d767">1.45%</span>
                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
              </div>
              <div class="stock-item">
                Chevron $141.94 &nbsp; <span style="color: #37d767">2.17%</span>
                <i class="fa-solid fa-arrow-up" style="color: #37d767"> </i>
              </div>
            </div>
          </div>
          <div class="header__user__notification">
            <i class="fa-solid fa-bell"></i>
          </div>
          {% if userData.id %}
          <!-- 로그인 상태일 때 -->
          <a href="/users" class="header__user__name"
            >{{ userData.nickname }}</a
          >
          <div class="header__user__profile">
            <img
              src="{{ userData.image }}"
              alt="profile image"
              class="header__user__profileimage"
            />
          </div>
          <a href="/auth/logout">
            <div class="header__user__logout" id="logoutButton">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
          </a>
          <p style="display: none">{{userData.id}}</p>
          {% else %}
          <!-- 로그인 상태가 아닐 때 -->
          <a href="/auth/login" class="header__user__name">Login</a>
          <div class="header__user__profile">
            <img
              src="/images/default_profile.png"
              alt="default image"
              class="header__user__profileimage"
            />
          </div>
          {% endif %}
        </div>
      </header>
      <!-- Content -->
      <div class="content-wrapper content-wrapper--expanded">
        <section class="upper">
          <div class="upper__advertise1">
            <img src="/images/advertise1-2.webp" alt="advertise1" />
          </div>
          <div class="upper__advertise2">
            <img src="/images/advertise2-5.png" alt="advertise2" />
          </div>
          <article class="upper_thumbbox">
            <div class="upper_thumbbox_imagewrap">
              <a href="/boards/board_id/{{ mainPhotos[0].id }}">
                <img
                  src="{{ mainPhotos[0].image }}"
                  alt="{{ mainPhotos[0].image }}"
                />
                <div>
                  <p>{{ mainPhotos[0].title }}</p>
                  <p>{{ mainPhotos[0].content }}</p>
                </div>
              </a>
            </div>
            <div class="upper_thumbbox_imagewrap">
              <a href="/boards/board_id/{{ mainPhotos[1].id }}">
                <img
                  src="{{ mainPhotos[1].image }}"
                  alt="{{ mainPhotos[1].image }}"
                />
                <div>
                  <p>{{ mainPhotos[1].title }}</p>
                  <p>{{ mainPhotos[1].content }}</p>
                </div>
              </a>
            </div>
            <div class="upper_thumbbox_imagewrap">
              <a href="/boards/board_id/{{ mainPhotos[2].id }}">
                <img
                  src="{{ mainPhotos[2].image }}"
                  alt="{{ mainPhotos[2].image }}"
                />
                <div>
                  <p>{{ mainPhotos[2].title }}</p>
                  <p>{{ mainPhotos[2].content }}</p>
                </div>
              </a>
            </div>
            <!-- <div class="upper_thumbbox_imagewrap">
              <a href="#">
                <img src="/images/article1.webp" alt="articleImage" />
                <div>
                  <p>
                    BlackRock's Ethereum ETF Plan Is Confirmed in Nasdaq Filing
                  </p>
                  <p>
                    The world's largest asset manager has already made waves by
                    seeking to list a bitcoin ETF
                  </p>
                </div>
              </a>
            </div>
            <div class="upper_thumbbox_imagewrap">
              <a href="#">
                <img src="/images/article2.webp" alt="articleImage" />
                <div>
                  <p>
                    Ether Surges to 7-Month High, Outshines Bitcoin on BlackRock
                    ETF Plans
                  </p>
                  <p>
                    Bitcoin hit an 18-month high near $38,000 before pulling
                    back sharply.
                  </p>
                </div>
              </a>
            </div>
            <div class="upper_thumbbox_imagewrap">
              <a href="#">
                <img src="/images/article3.webp" alt="articleImage" />
                <div>
                  <p>
                    Protocol Village: EigenLayer, Cubist in New 'Secure Staking
                    Alliance'
                  </p>
                  <p>
                    The latest in blockchain tech upgrades, funding
                    announcements and deals.
                  </p>
                </div>
              </a>
            </div> -->
          </article>
        </section>
        <div class="announcemnet-wrapper">
          <div class="announcement-text">
            <span>
              <i class="fa-solid fa-bullhorn"></i
              >&nbsp;&nbsp;&nbsp;공지사항</span
            >
          </div>
          <div class="announcement-slide">
            <div class="slide-item">
              <a href="/boards/board_id/{{ announcementsLatest[0].id }}"
                >{{ announcementsLatest[0].title }}</a
              >
            </div>
            <div class="slide-item">
              <a href="/boards/board_id/{{ announcementsLatest[1].id }}"
                >{{ announcementsLatest[1].title }}</a
              >
            </div>
            <div class="slide-item">
              <a href="/boards/board_id/{{ announcementsLatest[2].id }}"
                >{{ announcementsLatest[2].title }}</a
              >
            </div>
            <div class="slide-item">
              <a href="/boards/board_id/{{ announcementsLatest[3].id }}"
                >{{ announcementsLatest[3].title }}</a
              >
            </div>
            <div class="slide-item">
              <a href="/boards/board_id/{{ announcementsLatest[4].id }}"
                >{{ announcementsLatest[4].title }}</a
              >
            </div>
            <!-- <div class="slide-item">
              <a href="#"
                >신규 가입자 대상 필독 사항 및 주의 사항에 관한 안내</a
              >
            </div>
            <div class="slide-item">
              <a href=""
                >2023년 삼성증권 주최 - 금융시장 전망 및 투자 전략 세미나 (23년
                12월 25일)</a
              >
            </div>
            <div class="slide-item">
              <a href=""
                >연말 세제 혜택 및 절세 전략 무료 상담 신청 (마감기한 :
                ~23년11월28일)</a
              >
            </div>
            <div class="slide-item">
              <a href=""
                >경제 전문가 초청 웹세미나: 글로벌 경제 동향 분석 (연사 :
                오태민, 장현국)</a
              >
            </div>
            <div class="slide-item">
              <a href=""
                >사용자 대상 금융 서비스 만족도 조사 및 응답자 대상 스타벅스
                추첨 이벤트!</a
              >
            </div> -->
          </div>
        </div>
        <!-- Lower -->
        <section class="lower">
          <!-- Lower-Left-->
          <div class="lower__left">
            <div class="lower__left__advertise4">
              <img src="/images/advertise4.png" alt="advertise4" />
            </div>
            <article class="lower__categories">
              <section class="category" id="domestic-stocks">
                <h2>
                  &nbsp;<i class="fa-solid fa-money-bill-trend-up"></i
                  >&nbsp;&nbsp;국내주식
                </h2>
                <ul class="post-list">
                  <li>
                    <span>1.&nbsp;</span>
                    <a href="/boards/board_id/{{ domesticBoardLikes[0].id }}">
                      {{ domesticBoardLikes[0].title }} ({{
                      domesticBoardLikes[0].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ domesticBoardLikes[0].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>2.&nbsp;</span>
                    <a href="/boards/board_id/{{ domesticBoardLikes[1].id }}">
                      {{ domesticBoardLikes[1].title }} ({{
                      domesticBoardLikes[1].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ domesticBoardLikes[1].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>3.&nbsp;</span>
                    <a href="/boards/board_id/{{ domesticBoardLikes[2].id }}">
                      {{ domesticBoardLikes[2].title }} ({{
                      domesticBoardLikes[2].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ domesticBoardLikes[2].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>4.&nbsp;</span>
                    <a href="/boards/board_id/{{ domesticBoardLikes[3].id }}">
                      {{ domesticBoardLikes[3].title }} ({{
                      domesticBoardLikes[3].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ domesticBoardLikes[3].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>5.&nbsp;</span>
                    <a href="/boards/board_id/{{ domesticBoardLikes[4].id }}">
                      {{ domesticBoardLikes[4].title }} ({{
                      domesticBoardLikes[4].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ domesticBoardLikes[4].likesCount }}
                    </a>
                  </li>
                </ul>
              </section>
              <section class="category" id="international-stocks">
                <h2>
                  &nbsp;<i class="fa-solid fa-flag-usa"></i>&nbsp;&nbsp;해외주식
                </h2>
                <ul class="post-list">
                  <li>
                    <span>1.&nbsp;</span>
                    <a href="/boards/board_id/{{ foreignBoardLikes[0].id }}">
                      {{ foreignBoardLikes[0].title }} ({{
                      foreignBoardLikes[0].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ foreignBoardLikes[0].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>2.&nbsp;</span>
                    <a href="/boards/board_id/{{ foreignBoardLikes[1].id }}">
                      {{ foreignBoardLikes[1].title }} ({{
                      foreignBoardLikes[1].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ foreignBoardLikes[1].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>3.&nbsp;</span>
                    <a href="/boards/board_id/{{ foreignBoardLikes[2].id }}">
                      {{ foreignBoardLikes[2].title }} ({{
                      foreignBoardLikes[2].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ foreignBoardLikes[2].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>4.&nbsp;</span>
                    <a href="/boards/board_id/{{ foreignBoardLikes[3].id }}">
                      {{ foreignBoardLikes[3].title }} ({{
                      foreignBoardLikes[3].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ foreignBoardLikes[3].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>5.&nbsp;</span>
                    <a href="/boards/board_id/{{ foreignBoardLikes[4].id }}">
                      {{ foreignBoardLikes[4].title }} ({{
                      foreignBoardLikes[4].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ foreignBoardLikes[4].likesCount }}
                    </a>
                  </li>
                </ul>
              </section>
              <section class="category" id="bitcoin">
                <h2>
                  &nbsp;<i class="fa-brands fa-bitcoin"></i>&nbsp;&nbsp;비트코인
                </h2>
                <ul class="post-list">
                  <li>
                    <span>1.&nbsp;</span>
                    <a href="/boards/board_id/{{ bitcoinBoardLikes[0].id }}">
                      {{ bitcoinBoardLikes[0].title }} ({{
                      bitcoinBoardLikes[0].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ bitcoinBoardLikes[0].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>2.&nbsp;</span>
                    <a href="/boards/board_id/{{ bitcoinBoardLikes[1].id }}">
                      {{ bitcoinBoardLikes[1].title }} ({{
                      bitcoinBoardLikes[1].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ bitcoinBoardLikes[1].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>3.&nbsp;</span>
                    <a href="/boards/board_id/{{ bitcoinBoardLikes[2].id }}">
                      {{ bitcoinBoardLikes[2].title }} ({{
                      bitcoinBoardLikes[2].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ bitcoinBoardLikes[2].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>4.&nbsp;</span>
                    <a href="/boards/board_id/{{ bitcoinBoardLikes[3].id }}">
                      {{ bitcoinBoardLikes[3].title }} ({{
                      bitcoinBoardLikes[3].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ bitcoinBoardLikes[3].likesCount }}
                    </a>
                  </li>
                  <li>
                    <span>5.&nbsp;</span>
                    <a href="/boards/board_id/{{ bitcoinBoardLikes[4].id }}">
                      {{ bitcoinBoardLikes[4].title }} ({{
                      bitcoinBoardLikes[4].commentsCount }}) &nbsp;&nbsp;<i
                        class="fa-regular fa-thumbs-up"
                      ></i>
                      {{ bitcoinBoardLikes[4].likesCount }}
                    </a>
                  </li>
                </ul>
              </section>
            </article>
          </div>
          <!-- Lower-Right -->
          <div class="lower__right">
            <article class="lower__ranks">
              <div class="lower__ranks__likes">
                <h2>
                  <i class="fa-solid fa-ranking-star"></i>&nbsp;&nbsp;인기
                  게시글 (좋아요순)
                </h2>
                <div class="ranked-post">
                  <span>1.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[0].id }}">
                    {{ boardLikes[0].title }} ({{ boardLikes[0].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[0].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>2.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[1].id }}">
                    {{ boardLikes[1].title }} ({{ boardLikes[1].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[1].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>3.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[2].id }}">
                    {{ boardLikes[2].title }} ({{ boardLikes[2].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[2].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>4.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[3].id }}">
                    {{ boardLikes[3].title }} ({{ boardLikes[3].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[3].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>5.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[4].id }}">
                    {{ boardLikes[4].title }} ({{ boardLikes[4].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[4].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>6.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[5].id }}">
                    {{ boardLikes[5].title }} ({{ boardLikes[5].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[5].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>7.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[6].id }}">
                    {{ boardLikes[6].title }} ({{ boardLikes[6].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[6].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>8.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[7].id }}">
                    {{ boardLikes[7].title }} ({{ boardLikes[7].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[7].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>9.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[8].id }}">
                    {{ boardLikes[8].title }} ({{ boardLikes[8].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[8].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>10.&nbsp;</span>
                  <a href="/board/board_id/{{ boardLikes[9].id }}">
                    {{ boardLikes[9].title }} ({{ boardLikes[9].commentsCount
                    }}) &nbsp;&nbsp;<i class="fa-regular fa-thumbs-up"></i>
                    {{ boardLikes[9].likesCount }}
                  </a>
                </div>
              </div>
              <div class="lower__ranks__comments">
                <h2>
                  <i class="fa-solid fa-message"></i>&nbsp;&nbsp;인기 게시글
                  (댓글순)
                </h2>
                <div class="ranked-post">
                  <span>1.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[0].id }}">
                    {{ boardComments[0].title }} ({{
                    boardComments[0].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[0].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>2.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[1].id }}">
                    {{ boardComments[1].title }} ({{
                    boardComments[1].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[1].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>3.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[2].id }}">
                    {{ boardComments[2].title }} ({{
                    boardComments[2].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[2].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>4.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[3].id }}">
                    {{ boardComments[3].title }} ({{
                    boardComments[3].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[3].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>5.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[4].id }}">
                    {{ boardComments[4].title }} ({{
                    boardComments[4].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[4].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>6.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[5].id }}">
                    {{ boardComments[5].title }} ({{
                    boardComments[5].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[5].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>7.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[6].id }}">
                    {{ boardComments[6].title }} ({{
                    boardComments[6].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[6].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>8.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[7].id }}">
                    {{ boardComments[7].title }} ({{
                    boardComments[7].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[7].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>9.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[8].id }}">
                    {{ boardComments[8].title }} ({{
                    boardComments[8].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[8].likesCount }}
                  </a>
                </div>
                <div class="ranked-post">
                  <span>10.&nbsp;</span>
                  <a href="/board/board_id/{{ boardComments[9].id }}">
                    {{ boardComments[9].title }} ({{
                    boardComments[9].commentsCount }}) &nbsp;&nbsp;<i
                      class="fa-regular fa-thumbs-up"
                    ></i>
                    {{ boardComments[9].likesCount }}
                  </a>
                </div>
              </div>
            </article>
            <article class="lower__imgs">
              <div class="lower__imgs__appointed6imgs">
                <h2>
                  <i class="fa-solid fa-panorama"></i>&nbsp;&nbsp;인기 포토
                </h2>
                <div class="lower__imgs__appointed6imgs__wrapper">
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[0].id }}"
                      ><img
                        src="{{ newPhotos[0].image }}"
                        alt="{{ mainPhotos[0].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[0].id }}"
                      ><p>{{ newPhotos[0].title }}</p>
                    </a>
                  </div>
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[1].id }}"
                      ><img
                        src="{{ newPhotos[1].image }}"
                        alt="{{ mainPhotos[01].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[1].id }}"
                      ><p>{{ newPhotos[1].title }}</p>
                    </a>
                  </div>
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[2].id }}"
                      ><img
                        src="{{ newPhotos[2].image }}"
                        alt="{{ mainPhotos[2].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[2].id }}"
                      ><p>{{ newPhotos[2].title }}</p>
                    </a>
                  </div>
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[3].id }}"
                      ><img
                        src="{{ newPhotos[3].image }}"
                        alt="{{ mainPhotos[3].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[3].id }}"
                      ><p>{{ newPhotos[3].title }}</p>
                    </a>
                  </div>
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[4].id }}"
                      ><img
                        src="{{ newPhotos[4].image }}"
                        alt="{{ mainPhotos[4].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[4].id }}"
                      ><p>{{ newPhotos[4].title }}</p>
                    </a>
                  </div>
                  <div class="appointed6imgs">
                    <a href="/boards/board_id/{{ newPhotos[5].id }}"
                      ><img
                        src="{{ newPhotos[5].image }}"
                        alt="{{ mainPhotos[5].image }}"
                      />
                    </a>
                    <a href="/boards/board_id/{{ newPhotos[5].id }}"
                      ><p>{{ newPhotos[5].title }}</p>
                    </a>
                  </div>

                  <!-- <div class="appointed6imgs">
                    <img
                      src="/images/appinted6imgs-1.jpg"
                      alt="appinted6imgs-1.jpg"
                    />
                    <p>캐롤라인 팜 "탈중앙화 프로토콜도 규제 받아야"</p>
                  </div>
                  <div class="appointed6imgs">
                    <img src="/images/appinted6imgs-2.png" alt="" />
                    <p>CME 비트코인 선물 미결제 약정, 바이낸스 추월</p>
                  </div>
                  <div class="appointed6imgs">
                    <img src="/images/appinted6imgs-3.jpg" alt="" />
                    <p>니어 프로토콜, 지스타 2023서 '웹3 게임트레일러' 개최</p>
                  </div>
                  <div class="appointed6imgs">
                    <img src="/images/appinted6imgs-4.png" alt="" />
                    <p>신한은행, '2023 블록체인 진흥주간' 맞아 기념 NFT 발행</p>
                  </div>
                  <div class="appointed6imgs">
                    <img src="/images/appinted6imgs-5.jpg" alt="" />
                    <p>SEC, 권도형 테라폼 대표에 대한 약식 판결 요청</p>
                  </div>
                  <div class="appointed6imgs">
                    <img src="/images/appinted6imgs-6.jpg" alt="" />
                    <p>폴리곤, '탈중앙화 거버넌스' 위원회 제안</p>
                  </div> -->
                </div>
              </div>
              <div class="lower__imgs__advertise3">
                <h2>
                  <i class="fa-solid fa-envelope-open-text"></i>&nbsp;&nbsp;광고
                  문의
                </h2>
                <img src="/images/advertise3-1.png" alt="advertise3" />
              </div>
            </article>
          </div>
        </section>
        <!-- Arrow up -->
        <aside>
          <a class="arrow-up arrow-up--visible" href="#" title="back to top">
            <!-- 만약에 따로 svg에서 스크린 리더기에 정보를 줄 수 없다면,
                 위와 같이 a tag 안에 attribute로 title을 준 후, 그 안에 정보를 써줄 수 있다. -->
            <i class="fa-solid fa-arrow-up"></i>
          </a>
        </aside>
        <!-- Footer -->
        <footer class="footer">
          <div class="footer-info">
            <span class="footer-item">불빛 주식회사</span>
            <span class="footer-item">대표이사: 강수빈</span>
            <span class="footer-item">개인정보관리책임자: 이선균</span>
            <span class="footer-item"
              >본사: 경기도 성남시 분당구 판교역로180, 803호</span
            >

            <span class="footer-item">연락처: help@boolbit.town</span>
          </div>
          <div class="footer-links">
            <span class="footer-item">사업자 등록번호: 124-88-02603</span>
            <span class="footer-item"
              >통신판매업 신고번호: 제 2022-성남분당A-0689호</span
            >

            <a
              href="/policy/service"
              target="_blank"
              rel="noreferrer"
              class="footer-link"
              >이용약관</a
            >

            <a
              href="/policy/privacy"
              target="_blank"
              rel="noreferrer"
              class="footer-link"
              >개인정보처리방침</a
            >
          </div>
        </footer>
      </div>
    </main>
    <!-- Navbar -->
    <nav class="nav nav--">
      <div class="nav__logo">
        <div class="nav__logo__container">
          <a href="/">
            <img
              class="nav__logo__img"
              src="/images/BullHubLogo_Circle.png"
              alt="BullHubLogo"
            />
          </a>
          <p><a href="/">BullHub</a></p>
        </div>
        <button id="navToggle" class="nav--toggle">
          <i class="fa-solid fa-angles-left"></i>
          <i class="fa-solid fa-angles-right"></i>
        </button>
      </div>
      <div class="nav__section">
        <div class="nav__section__title"><p>관리자</p></div>
        <div class="nav__section__content">
          <i class="fa-regular fa-clipboard"></i>
          <p><a href="/boardstats">게시물 통계</a></p>
        </div>
        <div class="nav__section__content">
          <i class="fa-solid fa-users"></i>
          <p><a href="/admin">회원 정보 통계</a></p>
        </div>
      </div>
      <div class="nav__section">
        <div class="nav__section__title"><p>회원</p></div>
        <div class="nav__section__content">
          <i class="fa-solid fa-user-gear"></i>
          <p class="nav__section__user">
            <a href="/users/{{userData.id}}">회원 정보 수정 & 조회</a>
          </p>
        </div>
      </div>
      <div class="nav__section">
        <div class="nav__section__title"><p>게시판</p></div>
        <div class="nav__section__content">
          <i class="fa-solid fa-bullhorn"></i>
          <p><a href="/boards/announcement/1">공지사항</a></p>
        </div>
        <div class="nav__section__content">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <p><a href="/boards/domestic/1">국내주식</a></p>
        </div>
        <div class="nav__section__content">
          <i class="fa-solid fa-flag-usa"></i>
          <p><a href="/boards/foreign/1">해외주식</a></p>
        </div>
        <div class="nav__section__content">
          <i class="fa-brands fa-bitcoin"></i>
          <p><a href="/boards/bitcoin/1">비트코인</a></p>
        </div>
      </div>
      <div class="nav__section">
        <div class="nav__section__title"><p>채팅</p></div>
        <div class="nav__section__content">
          <i class="fa-solid fa-circle-question"></i>
          <p><a href="/help">관리자 1:1 문의</a></p>
        </div>
        <div class="nav__section__content">
          <i class="fa-solid fa-comments"></i>
          <p><a href="/chat">회원 소통방</a></p>
        </div>
      </div>
    </nav>
  </body>
</html>
